<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='/lib/axios.min.js'></script>
    <script src='public/js/skrypt.js'></script>
  </head>
  <body>
    <div id="ui">
      <div id="ui-input">
        <form>
          <input class="startInput" id="size" type="text" placeholder="Size"/>
          <br/>
          <input class="startInput" id="dim" type="text" placeholder="Dimensions"/>
          <br/>
          <input class="startInput" id="max" type="text" placeholder="Max moves"/>
          <br/>
          <button class="startButton" type="button">Start game</button>
        </form>
      </div>
    </div>
  </body>
</html>
