.container {
    display: flex;
    flex-direction: row;
    
    
}
.container > * {
    flex: 1 100%;
  }
.container2 {
    display: flex;
    flex-direction: column;
}
.container2 > * {
    flex: 1 100%;
  }
div {
    width: 200px;
    height: 200px;
}
div.A {
    background-color: red;

}


div.B {
    background-color: yellow;
}

div.C {
    background-color: green;
}
div.D {
    background-color: blue;
}