<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="1" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Jillian" />
    <constructor-arg name="lastName" value="Palethorpe" />
    <constructor-arg name="email" value="jpalethorpe0@accuweather.com" />
    <constructor-arg name="companyName" value="Layo" />
  </bean>
  <bean id="2" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Mohandas" />
    <constructor-arg name="lastName" value="Branchet" />
    <constructor-arg name="email" value="mbranchet1@marriott.com" />
    <constructor-arg name="companyName" value="Gigabox" />
  </bean>
  <bean id="3" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Philly" />
    <constructor-arg name="lastName" value="Guyton" />
    <constructor-arg name="email" value="pguyton2@shareasale.com" />
    <constructor-arg name="companyName" value="Quatz" />
  </bean>
  <bean id="4" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Kirsteni" />
    <constructor-arg name="lastName" value="Bentham3" />
    <constructor-arg name="email" value="kbentham3@loc.gov" />
    <constructor-arg name="companyName" value="Quaxo" />
  </bean>
  <bean id="5" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Cosetta" />
    <constructor-arg name="lastName" value="Rolfi" />
    <constructor-arg name="email" value="crolfi4@photobucket.com" />
    <constructor-arg name="companyName" value="Riffwire" />
  </bean>
  <bean id="6" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Hedvig" />
    <constructor-arg name="lastName" value="Firminger" />
    <constructor-arg name="email" value="hfirminger5@netscape.com" />
    <constructor-arg name="companyName" value="Quire" />
  </bean>
  <bean id="7" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Lorna" />
    <constructor-arg name="lastName" value="Caseley" />
    <constructor-arg name="email" value="lcaseley6@illinois.edu" />
    <constructor-arg name="companyName" value="Skinix" />
  </bean>
  <bean id="8" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Arty" />
    <constructor-arg name="lastName" value="Nesey" />
    <constructor-arg name="email" value="anesey7@washington.edu" />
    <constructor-arg name="companyName" value="Dabvine" />
  </bean>
  <bean id="9" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Dugald" />
    <constructor-arg name="lastName" value="Fechnie" />
    <constructor-arg name="email" value="dfechnie8@feedburner.com" />
    <constructor-arg name="companyName" value="Twitterbridge" />
  </bean>
  <bean id="10" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Halley" />
    <constructor-arg name="lastName" value="Gadaud" />
    <constructor-arg name="email" value="hgadaud9@sohu.com" />
    <constructor-arg name="companyName" value="Oyope" />
  </bean>
  <bean id="11" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Kamilah" />
    <constructor-arg name="lastName" value="Wolters" />
    <constructor-arg name="email" value="kwoltersa@google.es" />
    <constructor-arg name="companyName" value="Shuffledrive" />
  </bean>
  <bean id="12" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Meredeth" />
    <constructor-arg name="lastName" value="Bedward" />
    <constructor-arg name="email" value="mbedwardb@uiuc.edu" />
    <constructor-arg name="companyName" value="Meeveo" />
  </bean>
  <bean id="13" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Aloin" />
    <constructor-arg name="lastName" value="Rigglesford" />
    <constructor-arg name="email" value="arigglesfordc@cafepress.com" />
    <constructor-arg name="companyName" value="Skyble" />
  </bean>
  <bean id="14" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Petunia" />
    <constructor-arg name="lastName" value="Chevolleau" />
    <constructor-arg name="email" value="pchevolleaud@cnn.com" />
    <constructor-arg name="companyName" value="Zoombeat" />
  </bean>
  <bean id="15" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Sunshine" />
    <constructor-arg name="lastName" value="Haggerty" />
    <constructor-arg name="email" value="shaggertye@webnode.com" />
    <constructor-arg name="companyName" value="Digitube" />
  </bean>
  <bean id="16" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Eberto" />
    <constructor-arg name="lastName" value="Keaves" />
    <constructor-arg name="email" value="ekeavesf@tumblr.com" />
    <constructor-arg name="companyName" value="Voonte" />
  </bean>
  <bean id="17" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Tasha" />
    <constructor-arg name="lastName" value="Shemwell" />
    <constructor-arg name="email" value="tshemwellg@prlog.org" />
    <constructor-arg name="companyName" value="Brainbox" />
  </bean>
  <bean id="18" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Philomena" />
    <constructor-arg name="lastName" value="Diloway" />
    <constructor-arg name="email" value="pdilowayh@opensource.org" />
    <constructor-arg name="companyName" value="Zoozzy" />
  </bean>
  <bean id="19" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Raymond" />
    <constructor-arg name="lastName" value="Behnecke" />
    <constructor-arg name="email" value="rbehneckei@zdnet.com" />
    <constructor-arg name="companyName" value="Realmix" />
  </bean>
  <bean id="20" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Kirbie" />
    <constructor-arg name="lastName" value="Wrettum" />
    <constructor-arg name="email" value="kwrettumj@slideshare.net" />
    <constructor-arg name="companyName" value="Browsetype" />
  </bean>
  <bean id="21" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Edie" />
    <constructor-arg name="lastName" value="Pledger" />
    <constructor-arg name="email" value="epledgerk@chron.com" />
    <constructor-arg name="companyName" value="Voonder" />
  </bean>
  <bean id="22" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Brooke" />
    <constructor-arg name="lastName" value="Ratcliff" />
    <constructor-arg name="email" value="bratcliffl@dailymotion.com" />
    <constructor-arg name="companyName" value="Livetube" />
  </bean>
  <bean id="23" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Kristy" />
    <constructor-arg name="lastName" value="Burnsyde" />
    <constructor-arg name="email" value="kburnsydem@dailymotion.com" />
    <constructor-arg name="companyName" value="Oyoloo" />
  </bean>
  <bean id="24" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Vinnie" />
    <constructor-arg name="lastName" value="Arp" />
    <constructor-arg name="email" value="varpn@github.io" />
    <constructor-arg name="companyName" value="Talane" />
  </bean>
  <bean id="25" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Diana" />
    <constructor-arg name="lastName" value="Wickrath" />
    <constructor-arg name="email" value="dwickratho@liveinternet.ru" />
    <constructor-arg name="companyName" value="Ooba" />
  </bean>
  <bean id="26" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Gasper" />
    <constructor-arg name="lastName" value="Gane" />
    <constructor-arg name="email" value="gganep@usnews.com" />
    <constructor-arg name="companyName" value="Jabbersphere" />
  </bean>
  <bean id="27" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Jere" />
    <constructor-arg name="lastName" value="Maberley" />
    <constructor-arg name="email" value="jmaberleyq@photobucket.com" />
    <constructor-arg name="companyName" value="Digitube" />
  </bean>
  <bean id="28" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Chrystal" />
    <constructor-arg name="lastName" value="Havoc" />
    <constructor-arg name="email" value="chavocr@yahoo.com" />
    <constructor-arg name="companyName" value="Mymm" />
  </bean>
  <bean id="29" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Haze" />
    <constructor-arg name="lastName" value="Manske" />
    <constructor-arg name="email" value="hmanskes@trellian.com" />
    <constructor-arg name="companyName" value="Katz" />
  </bean>
  <bean id="30" class="com.example.lab3_1.domain.Person">
    <constructor-arg name="name" value="Juline" />
    <constructor-arg name="lastName" value="Merchant" />
    <constructor-arg name="email" value="jmerchantt@123-reg.co.uk" />
    <constructor-arg name="companyName" value="Browsetype" />
  </bean>
</beans>